

body {
    margin: 0;

}


.navbar s{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70px;
}


.navbar-logo-container {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar-logo {
    height: 70px;
    width: auto;
    object-fit: contain;
}

/* .navbar-title{
  flex-grow: 1;
  text-align: center;
  justify-items: center;
  margin-left: 49px;



} */


.navbar-title {
    margin-left: 3rem;
}

.navbar-toggler {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 3rem;
    background: transparent;
    gap: .64rem;
}

.navbar-toggler {
    border: 0;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;

}

.navbar-toggler > div {
    background: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .4s;
    transform-origin: left;
}

/* .navbar-toggler:hover  div:first-child{
    transform: rotate(45deg);
}

.navbar-toggler:hover  div:nth-child(2){
   opacity: 0;
}

.navbar-toggler:hover  div:last-child{
    transform: rotate(-45deg);
 } */



.nav-link {
    color: white;
}



.i{
    margin-right: 1rem;
}


.navbar-nav > li a:hover{
    color: #333;

}

.c{
    margin-right: 30px;
}





.bg-gray {
    background-color: #9c9fa2;
}

.header {
    text-align: center;
    margin-bottom: 2px;
}




.card_margin{
    margin-top: 40px;
}

.card {
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.387);
}

.card-header-custom {
    background-color: #6a4c10;
    color: white;
    font-weight: bold;
    padding: 10px 20px;

}

.card-body-custom {
    padding: 20px;

}

.card-text {
    margin-bottom: 10px;
}




.icon{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
}

.items{
    padding: 8px;
    max-height: 200px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: 0;
    z-index: 1000;
}

.items li{
    padding: 4px;
    cursor: default;
    border-radius: 3px;
    display: none;
}


.items li:hover{
    background-color: #9c9fa222;
}





#searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
    margin: 0;
    display: none;
}

#searchResults li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

#searchResults li:hover {
    background-color: #f2f2f2;
}

.text-end {
    text-align: right;
}

.suggestion {
    padding: 5px 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}