
body {
    margin: 0;
}


.navbar {
    height: 70px;
    justify-content: center;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
}

.navbar-logo {
    height: 70px;
    width: 6em;
    object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
}

.navbar-title-container {
    text-align: center;
    flex: 1;
    margin: 0 auto;
    position: relative;
}

.navbar-brand {
    background: #fff;
    padding: 0 10px;
}

.title {
    color: white; /* Color del texto */
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: bold; /* Peso de la fuente */
}

.nav_menu {
    position: absolute;
    right: 0;
    margin-top: 0.7rem;
}

.menu {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.60rem;
    cursor: pointer;
}

.menu_item {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .3s;
    transform-origin: left;
}

.menu:hover div:first-child {
    transform: rotate(45deg);
}

.menu:hover div:nth-child(2) {
    opacity: 0;
}

.menu:hover div:last-child {
    transform: rotate(-45deg);
}

aside {
    position: absolute;
    width: 20%;
    background-color: #198754;
    top: 0;
    right: 0;
    overflow-y: hidden;
    margin-top: 59px;
    transition: 0.5s ease;
    z-index: 1000;
    box-shadow: 0px 12px 12px #9c9c9c;

}

aside:hover {
    overflow-y: auto;
}

.abrir {
    transform: translateY(-155%);
}


.aside_con {
    color: #fff;
    border-bottom: 1px solid #ffffffd5;
    padding: 10px 12px;
    cursor: pointer;
}

.aside_c{
    color: #fff;
    padding: 10px 12px;
    cursor: pointer;
}

.a_span {
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 500;
}

.aside_i {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
}

.aside_i:hover {
    background-color: #21ad44;
    border-radius: 8px;
}

.a_link{
    text-decoration: none;
    color: #fff;
}

.a_link:hover{
    text-decoration: none;
    color: #fff;
}

.user-profile-card {
    border: 1px solid #00000061;
    border-radius: 12px;
    position: absolute;
    top: 80px; /* Ajusta la distancia desde arriba según tus necesidades */
    left: 20px; /* Ajusta la distancia desde la derecha según tus necesidades */
    width: 220px; /* Ancho deseado de la tarjeta */
    z-index: 1000;
}/* Asegura que la tarjeta esté encima del contenido */

.bn{
    margin: 6px;
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
    font-size: small;
    color: #fff;
}

.bn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 12px #9c9c9c;
}

.bn-g{
    background-color: #198754;
}


.bn-r{
    background-color: #C0392B;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}


.mt-5 {
    margin-top: 5rem !important;
}

.text-center {
    text-align: center !important;
}

.des {
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
}

.container{
    margin-top: 160px;
}

.svg:hover {
    transform: scale(1.2); /* Aumenta el tamaño en un 10% */

}

.img{
    width: 80px;
    height: 80px;

}


.img:hover {
    transform: scale(1.3); /* Aumenta el tamaño en un 10% */
}

/* Estilos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s .4s;
    --transform: translateY(-100vh);
    --transition: transform .4s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s;
    --transform: translateY(20vh);
    --transition: transform .5s .5s;
}

.modal-content {
    background-color: white;
    border-radius: 16px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal-title {
    font-size: 1.4rem;
}

.modal-header{
    text-align: center;


}

.form{
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.387);

}

.form-group {
    position: relative;
}

.form-control {
    padding-right: 2.5rem; /* Espacio para el ícono */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la distancia desde la derecha */
    transform: translateY(-50%);
    cursor: pointer;
}

.eye {
    width: 24px; /* Ajusta el tamaño del ícono */
    height: 24px;
}


.option-card {
    width: 250px;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 12px 12px #9c9c9c;/* Cambia el color según tus preferencias */
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
}

.option-card img,
.option-card svg {
    margin-bottom: 10px;
    color: aliceblue;
}

.orange {
    background-color: #F39C12; /* Naranja */
}

.red {
    background-color: #C0392B; /* Rojo */
}

.blue {
    background-color: #2980B9; /* Azul */
}

.green {
    background-color: #198754; /* Verde */
}

.des {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}


.option-card:hover {
    transform: scale(1.1);


}





.form-group {
    position: relative;
    margin-bottom: 20px;
}
.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #9c9c9c;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;
    background-color: white;
    padding: 0 5px;
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    top: -1px;
    left: 10px;
    font-size: 12px;
    color: #333;
}
.form-control:focus {
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}








@media (max-width: 800px) {
    .container {
        margin-top: 10px;
    }

    .modal-content {
        padding: 1.5em 1em;
    }

    .modal-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .container {
        margin-top: 10px;
    }

    .bg-white {
        margin-top: 2rem;
    }

    /* Ajustes específicos para pantallas pequeñas */
    .modal-dialog {
        max-width: 90%;
        margin: 1.75rem auto;
    }

    .modal-content {
        padding: 1em 0.5em;
    }

    .modal-title {
        font-size: 1.2rem;
    }

    .form-control {
        padding: 8px;
        font-size: 14px;
    }

    .form-label {
        font-size: 14px;
    }

    .modal-footer .btn {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }
}
