


body {
    margin: 0;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70px;
}


.navbar-logo-container {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar-logo {
    height: 70px;
    width: auto;
    object-fit: contain;
}

/* .navbar-title{
  flex-grow: 1;
  text-align: center;
  justify-items: center;
  margin-left: 49px;



} */


.navbar-title{
    margin-left: 3rem;
}

.navbar-toggler{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 3rem;
    background: transparent;
    gap: .64rem;
}

.navbar-toggler{
    border: 0;

}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;

}

.navbar-toggler > div{
    background: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .4s;
    transform-origin: left;
}

/* .navbar-toggler:hover  div:first-child{
    transform: rotate(45deg);
}

.navbar-toggler:hover  div:nth-child(2){
   opacity: 0;
}

.navbar-toggler:hover  div:last-child{
    transform: rotate(-45deg);
 } */



.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: #333333;
    font-size: 2rem;
}



.i{
    margin-right: 1rem;
}


.navbar-nav > li a:hover{
    color: #333;

}

.c{
    margin-right: 30px;
}


.pdf_v{
    display: block;
    margin: auto;
    width: 60%;
    height: 100vh;
    border-radius: 12px;
}








@media (max-width: 1200px) {


    .navbar {
        height: 70px;
        justify-content: center;
        align-items: center;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 2rem; /* Reducir el margen superior del contenido */
    }

    .title {
        font-size: 1.5rem;
    }



}

@media (max-width: 992px) {
    .navbar {
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 10px; /* Reducir el margen superior del contenido */
    }

    .modal-content {
        padding: 1.5em 1em; /* Ajustar el relleno del modal para pantallas más pequeñas */
    }

    .modal-title {
        font-size: 1.6rem; /* Tamaño de fuente más grande para el título del modal */
    }

    .title {
        font-size: 1.4rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav_menu {
        margin-right: 24px;
        position: absolute;
        right: 0;
        margin-top: 0.7rem;
    }

    aside{
        width: 30%;
    }
}

@media (max-width: 768px) {

    .navbar {
        height: 70px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 10px; /* Reducir el margen superior del contenido */
    }

    .modal-content {
        padding: 1.5em 1em; /* Ajustar el relleno del modal para pantallas más pequeñas */
    }

    .modal-title {
        font-size: 1.6rem; /* Tamaño de fuente más grande para el título del modal */
    }

    .perfil{
        margin-bottom: 3rem;
    }

    .title {
        font-size: 1.4rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav_menu {
        position: absolute;
        right: 0;
        margin-top: 0.7rem;
    }


    aside{
        width: 40%;
    }



    .pdf_v{
        display: block;
        margin: auto;
        width: 80%;
        height: 100vh;
        border-radius: 12px;
    }


}

@media (max-width: 576px) {
    .navbar {
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 10px; /* Reducir el margen superior del contenido */
    }

    .modal-content {
        padding: 1.5em 1em; /* Ajustar el relleno del modal para pantallas más pequeñas */
    }

    .modal-title {
        font-size: 1.6rem; /* Tamaño de fuente más grande para el título del modal */
    }

    .title {
        margin-top: 10px;
        font-size: 1.3rem;
        position: relative;
        left: 50%;
        transform: translateX(-45%);
    }



    .nav_menu {
        padding: 0;
        margin-right: -12px;

    }

    .menu {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 2.5rem;
        height: 2.5rem;
        border: 0;
        background: transparent;
        gap: 0.48rem;
        cursor: pointer;

    }

    .menu_item {
        background-color: white;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .3s;
        transform-origin: left;
    }

    aside {
        position: absolute;
        width: 40%;
        background-color: #198754;
        top: 0;
        right: 0;
        overflow-y: hidden;
        margin-top: 59px;
        transition: 0.5s ease;
        z-index: 1000;

    }

    .aside_i .a_span{
        font-size: smaller;
    }

    .a_link:hover{
        color: white;
    }


}
