

body {
    margin: 0;
}


.navbar {
    height: 70px;
    justify-content: center;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
}

.navbar-logo {
    height: 70px;
    width: 6em;
    object-fit: contain;
}

.navbar-title-container {
    text-align: center;
    flex: 1;
    margin: 0 auto;
    position: relative;
}

.navbar-brand {
    background: #fff;
    padding: 0 10px;
}

.title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav_menu {
    position: absolute;
    right: 0;
    margin-top: 0.7rem;
}

.menu {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.60rem;
    cursor: pointer;
}

.menu_item {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .3s;
    transform-origin: left;
}

.menu:hover div:first-child {
    transform: rotate(45deg);
}

.menu:hover div:nth-child(2) {
    opacity: 0;
}

.menu:hover div:last-child {
    transform: rotate(-45deg);
}

aside {
    position: absolute;
    width: 20%;
    background-color: #198754;
    top: 0;
    right: 0;
    overflow-y: hidden;
    margin-top: 59px;
    transition: 0.3s ease;
    z-index: 1000;
    box-shadow: 0px 12px 12px #9c9c9c;
}

aside:hover {
    overflow-y: auto;
}

#aside {
    transform: translateY(-210%);
}

#aside.abrir {
    transform: translateY(6.6%);
}

.aside_con {
    color: #fff;
    border-bottom: 1px solid #ffffffd5;
    padding: 10px 12px;
    cursor: pointer;
}

.aside_c {
    color: #fff;
    padding: 10px 12px;
    cursor: pointer;
}

.a_link{
    text-decoration: none;
    color: white;
}

.a_link:hover{
    text-decoration: none;
    color: white;
}

.a_span {
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 500;

}

.aside_i {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
}

.aside_i:hover {
    background-color: #f2f5f34d;
    border-radius: 8px;
}



.pdf_v{
    display: block;
    margin: auto;
    width: 60%;
    height: 100vh;
    border-radius: 12px;
}








@media (max-width: 1200px) {


    .navbar {
        height: 70px;
        justify-content: center;
        align-items: center;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 2rem; /* Reducir el margen superior del contenido */
    }

    .title {
        font-size: 1.5rem;
    }



}

@media (max-width: 992px) {
    .navbar {
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 10px; /* Reducir el margen superior del contenido */
    }

    .modal-content {
        padding: 1.5em 1em; /* Ajustar el relleno del modal para pantallas más pequeñas */
    }

    .modal-title {
        font-size: 1.6rem; /* Tamaño de fuente más grande para el título del modal */
    }

    .title {
        font-size: 1.4rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav_menu {
        margin-right: 24px;
        position: absolute;
        right: 0;
        margin-top: 0.7rem;
    }

    aside{
        width: 30%;
    }
}

@media (max-width: 768px) {

    .navbar {
        height: 70px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 10px; /* Reducir el margen superior del contenido */
    }

    .modal-content {
        padding: 1.5em 1em; /* Ajustar el relleno del modal para pantallas más pequeñas */
    }

    .modal-title {
        font-size: 1.6rem; /* Tamaño de fuente más grande para el título del modal */
    }

    .perfil{
        margin-bottom: 3rem;
    }

    .title {
        font-size: 1.4rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav_menu {
        position: absolute;
        right: 0;
        margin-top: 0.7rem;
    }


    aside{
        width: 40%;
    }



    .pdf_v{
        display: block;
        margin: auto;
        width: 80%;
        height: 100vh;
        border-radius: 12px;
    }


}

@media (max-width: 576px) {
    .navbar {
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .navbar-logo {
        height: 70px;
        width: 90px; /* Ancho automático para mantener la proporción */
        object-fit: contain; /* Ajuste de la imagen dentro del contenedor */
    }

    .container {
        margin-top: 10px; /* Reducir el margen superior del contenido */
    }

    .modal-content {
        padding: 1.5em 1em; /* Ajustar el relleno del modal para pantallas más pequeñas */
    }

    .modal-title {
        font-size: 1.6rem; /* Tamaño de fuente más grande para el título del modal */
    }

    .title {
        margin-top: 10px;
        font-size: 1.3rem;
        position: relative;
        left: 50%;
        transform: translateX(-45%);
    }



    .nav_menu {
        padding: 0;
        margin-right: -12px;

    }

    .menu {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 2.5rem;
        height: 2.5rem;
        border: 0;
        background: transparent;
        gap: 0.48rem;
        cursor: pointer;

    }

    .menu_item {
        background-color: white;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .3s;
        transform-origin: left;
    }

    aside {
        position: absolute;
        width: 40%;
        background-color: #198754;
        top: 0;
        right: 0;
        overflow-y: hidden;
        margin-top: 59px;
        transition: 0.5s ease;
        z-index: 1000;

    }

    .aside_i .a_span{
        font-size: smaller;
    }

    .a_link:hover{
        color: white;
    }


}
