.con{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.387);

}

.b_alert{
    background-color: rgba(245, 245, 220, 0.576);
}

.alerta {
    color: red;
    text-align: left;
}



.modal_close:hover{
    color: rgb(0, 115, 255);
    background-color: white;
}

@media (max-width: 800px) {
    .modal_contain{
        padding: 1.5em 1em;
    }

    .modal_title{
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .bg-white {
        margin-top: 2rem;
    }
}

