.shaw{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.387);

}

.b_alert{
    background-color: rgba(255, 228, 196, 0.43);
}


.alerta {
    color: red;
    text-align: left;
}




@media (max-width: 800px) {
    .modal_contain{
        padding: 1.5em 1em;
    }

    .modal_title{
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .bg-white {
        margin-top: 2rem;
    }
}

