

.areaCom{
    height: 200px;
    width: 100%;
}


.fle {
    width: 40px;
    height: 40px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
}

.carousel-control-prev {
    margin-left: 2rem;
}

.carousel-control-next {
    margin-right: 2rem;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
}


.cd{
    margin-right: 8rem !important;
}


.card{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.387);

}

/* Estilos para las cards */
.card-header-custom {
    background-color: #F39C12;
    color: #fff;
    padding: 1rem 1.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-body-custom {
    padding: 1.5rem;
}

.card-footer-custom {
    display: flex;
    justify-content: end;
    padding: 1rem 1.5rem;
}




